.app {
  width: 100%;
  height: 100%;
  background: url(./assets/background.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.app__box {
  position: relative;
}

.app__box__title {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.app__box__content {
  box-sizing: border-box;
  width: 464px;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 68px 32px;
}

.app__box__content__flag {
  width: 84px;
  height: 54px;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
}

.app__box__content__question {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #2F527B;
}

.app__box__content__option {
  display: flex;
  align-items: center;
  border: 3px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  margin: 25px 0;
  font-weight: 550;
  font-size: 18px;
  line-height: 27px;
  color: rgba(96, 102, 208);
  cursor: pointer;
}

.app__box__content__option:hover {
  color: #FFFFFF;
  background: #F9A826;
  border-color: transparent;
}

.app__box__content__option-wrong {
  color: #FFFFFF;
  background: #EA8282;
  border-color: transparent;
}

.app__box__content__option-wrong::after {
  content: '×';
  border-radius: 100%;
  border: 1px solid white;
  color: white;
  margin-left: auto;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__box__content__option-correct {
  color: #FFFFFF;
  background: #60BF88;
  border-color: transparent;
}

.app__box__content__option-correct::after {
  content: '🗸';
  border-radius: 100%;
  border: 1px solid white;
  color: white;
  margin-left: auto;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__box__content__option__letter {
  margin: 10px 19px;
}

.app__box__content__option__text {
  margin-left: 25px;
}

.app__box__content__next {
  text-align: right;
}

.app__box__content__next__button {
  width: 116px;
  height: 56px;
  border: 2px solid #1D355D;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #1D355D;
  background: #FFFFFF;
  cursor: pointer;
}

.app__box__logo {
  position: absolute;
  top: -10px;
  right: 0;
  width: 162px;
  height: 116px;
}

.result {
  box-sizing: border-box;
  width: 464px;
  background: #FFFFFF;
  border-radius: 24px;
  padding: 68px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.result__box__logo {
  margin-top: 49px;
  margin-bottom: 72px;
}

.result__box__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #1D355D;
}

.result__box__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1D355D;
  margin-bottom: 72px;
}

.result__box__content__correctAnswer {
  color: #6FCF97;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.result__box__content__button {
  width: 209px;
  height: 62px;
  border: 2px solid #1D355D;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1D355D;
  background: #FFFFFF;
  cursor: pointer;
}

.app__box__content__next__button:hover, .result__box__content__button:hover {
  background: #F9A826;
  border: none;
  color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
}

footer {
  position: fixed;
  bottom: 5rem;
  color: white;
}

footer a {
  color: #FFFFFF;
}