.App {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Raleway', sans-serif;
}

.App__middleSmallCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #100E1D;
  width: 100%;
  padding-top: 2rem;
}

.App__fiveDaysPredict {
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 26px;
  margin: 26px auto;
}

.App__todayDetail {
  width: 80%;
}

.App__todayDetails__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #E7E7EB;
  margin: 26px;
}

.App__todayDetail__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.__direction {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.__directionIcon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__unitSwitcher__button {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  cursor: pointer;
}

.unit-selected {
  background: #E7E7EB;
  color: #110E3C;
}

.unit-unselected {
  background: #585676;
  color: #E7E7EB;
}

@media screen and (min-width: 768px) {
  .App {
    padding-top: 3rem;
  }
  
  .App__middleSmallCards {
    width: calc(100% - 768px);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .App__fiveDaysPredict {
    justify-content: center;
  }
}