.largeCard {
    width: 100%;
    background:  #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 768px;
}

.largeCard * {
    width: 100%;
    color: white;
}

.largeCard__header {
    display: flex;
    justify-content: space-around;
}

.largeCard__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.largeCard__foregroundImg {
    position: absolute;
    z-index: 10;
    width: 40%;
}

.largeCard__backgroundImg {
    opacity: 30%;
}

.__searchButton {
    width: 161px;
    height: 40px;
    background: #6E707A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.__yourLocation__button {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;
}

.largeCard__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 3rem;
    text-align: center;
}

.__climate {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #A09FB1;
}

.dot {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #88869D;
    border-radius: 100%;
}

.__date, .__date * {
    color: #88869D;
}

.__location, .__location * {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;
}

.__location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 48px;
}

.searchPanel {
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 3rem;
}

.searchPanel * {
    box-sizing: border-box;
}

.largeCard__cross {
    text-align: right;
    color: #E7E7EB;
    cursor: pointer;
    margin-right: 2rem;
}

.searchPanel__searchLine {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.searchPanel__icon {
    width: 40px;
    height: 3rem;
    border: 1px solid #E7E7EB;;
    border-right: none;
    padding-top: 10px;
}

.searchPanel__input {
    height: 3rem;
    background: none;
    border: 1px solid #E7E7EB;;
    border-left: none;
}

.searchPanel__button {
    height: 3rem;
    width: 86px;
    background: #3C47E9;
    border: none;
    margin: 1rem;
    cursor: pointer;
}

.searchPanel__resultList {
    list-style-type: none;
    padding-left: 0;
}

.searchPanel__resultList__result {
    margin: 3rem 0;
    cursor: pointer;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.searchPanel__resultList__result:hover {
    border: 1px solid #616475;
}

.searchPanel__resultList__result:hover::after {
    content: '>';
    color: #616475;
}

@media screen and (min-width: 768px) {
    .largeCard {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
}