.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif;
}

.App header {
  display: flex;
  cursor: pointer;
}

.App footer {
  margin-top: auto;
  box-sizing: border-box;
  width: 100%;
  background: #000000;
  border-top-right-radius: 42px;
  border-top-left-radius: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 1rem;
}

.App footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 626px) {
    .App {
      padding: 0 5rem;
    }

    .App footer {
      padding: 1rem 5rem;
    }
}