@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.App {
  text-align: center;
  padding: 5rem 10rem;
  font-family: 'Noto Sans', sans-serif;
}

header {
  display: flex;
  align-items: center;
}

.searchBar {
  display: flex;
  border: 1px solid #BDBDBD;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  width: 20%;
}

.searchBar input {
  outline: none;
  border: none;
  background: none;
  min-width: 5rem;
  width: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.button {
  width: 9rem;
  height: 3rem;
  background: #3DB46D;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: none;
  color: #FFF;
  cursor: pointer;
  margin: 0.5rem;
}

header .button {
  margin-left: auto;
}

main {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

.image {
  width: 100%;
  height: auto;
  min-height: 10rem;
  min-width: 30rem;
  position: relative;
  border-radius: 1rem;
  display: grid;
  margin: 1rem 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
  grid-area: 1 / 1;
}

.image-hover {
  width: 100%;
  height: 100%;
  min-height: 10rem;
  min-width: 30rem;
  position: relative;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 25%);
  cursor: pointer;
  z-index: 100;
  grid-area: 1 / 1;
}

.image__deleteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid #EB5757;
  width: 63px;
  height: 23px;
  border-radius: 38px;
  color: #EB5757;
  cursor: pointer;
  background: none;
}

.image__label {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #FFFFFF;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40%;
  background: #FFF;
  padding: 2rem;
  border-radius: 12px;
}

.modal__header {
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
}

.modal__content {
  text-align: left;
  margin: 2rem 0;
  width: 100%;
}

.modal__footer {
  text-align: right;
}

.button-cancel {
  background: none;
  box-shadow: none;
  color: #BDBDBD;
}

.button-cancel:hover {
  background: #BDBDBD;
  color: #FFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.inputBlock__header {
  margin: 0.5rem 0;
}

.inputBlock__input {
  width: 100%;
  height: 3rem;
  border: 1px solid #4F4F4F;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}